<form action="/auth/login" method="POST" autocomplete="on">
    <%- include('./authForm.ejs', {newPassword: false}) %>
    <div class="btn-row">
        <input type="submit" value="Submit">
    </div>
</form>