<div class="form-row">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" 
        required autocomplete="given-name">
</div>

<div class="form-row">
    <label for="lastName">Last Name</label>
    <input type="lastName" id="lastName" 
    required name="lastName" autocomplete="family-name">
</div>