<form class="auth-form" action="/auth/register" method="POST" autocomplete="on">
    <%- include('./nameForm.ejs') %>
    <%- include('./authForm.ejs', {newPassword: true}) %>

    <div class="form-row">
        <label for="passwordTwo">Retype Password: </label>
        <input type="password" id="passwordTwo" name="passwordTwo" 
        required autocomplete="new-password">
    </div>

    <div class="btn-row">
        <a href="/blog" class="btn danger-btn">Cancel</a>
        <input class="btn" type="submit" value="Register">
    </div>
</form>