.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 32px;
    grid-auto-flow: dense;
}

.blog-item {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--fill-color);
    border-radius: 10px;
}

.comment-container {
    padding-bottom: 10px;
}

.comment-item {
    background-color: var(--fill-color);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}