<div class="freelance">
    <h2>Need a website with?</h2>

    <div class="check-row">
        <div class="check-box">
            <div id="check1" class="check"></div>
        </div>
        <h3>Need a database?</h3>  
    </div>

    <div class="check-row">
        <div class="check-box">
            <div id="check2" class="check"></div>
        </div>
        <h3>Need login and user authentication? </h3>
    </div>

    <div class="check-row">
        <div class="check-box">
            <div id="check3" class="check"></div>
        </div>
        <h3>Eye catching animations and stunning css? </h3>
    </div>

    <div class="check-row">
        <div class="check-box">
            <div id="check4" class="check"></div>
        </div>
        <h3>And all in one place! </h3>
    </div>

    <div class="check-row">
        <div class="check-box">
            <div id="check5" class="check"></div>
        </div>
        <h3>You're at the right place</h3>
    </div>
</div>



<form class="auth-form" action="/contact" method="POST">
    <div>
        <h2>Contact</h2>
    </div>
    <div class="form-row">
        <label>Name </label>
        <input name="name" type="text"> 
    </div>
    <div class="form-row">
        <label>Email </label>
        <input name="email" type="email">
    </div>
    <div class="form-row">
        <label>Brielfy describe what you want</label><br>
        <textarea name="content"></textarea>
    </div>
    <div class="btn-row">
        <button class="btn" type="submitt">Enter</button>
    </div>
</form>