<div class="home-title">
    <h1>James Lehoe</h1>
    <div class="flip-container">
        <h2 class="flip-one">Computer Engineer</h2>
        <h2 class="flip-two">Full Stack Web Debeloper</h2>
    </div>
</div>